@-moz-document url-prefix("https://survev.io/") {
/* Background */
#background {
    background-image: url(https://i.imgur.com/bB5N5wn.gif) !important;
}

#start-row-header {
    background-image: url(https://i.imgur.com/I4uYvnX.png) !important;
}

#start-top-left,
#featured-streamers, /*This is honestly not needed anymore, but for nostalgic reasons I decided to keep the streamer section in the top left of every style.*/
#start-bottom-left,
#start-bottom-middle {
    visibility: visible !important;
}

/* Scale adjustments */
@media (max-height: 720px) {
    #start-bottom-right {
        transform: scale(.8);
        transform-origin: bottom right;
    }
}

/* Kill Leader Icon */
#ui-kill-leader-icon {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(https://i.imgur.com/1PmSqQx.png);
}
/*In-game Kill Leader Text*/
#ui-kill-leader-wrapper {
    color: #ffe741;
    position: absolute;
    right: 112px;
    top: 0;
}

/* Map Info */
#ui-map-info {
    color: #67e84c;
}
/*Icon that appears beside zone countdown*/
.gas-icon {
    background-image: url(https://i.imgur.com/NNGPVcu.png);
}
/*Warning that shows after the zone timelimit is up*/
.danger-icon {
    background-image: url(https://i.imgur.com/PDEQQ4w.png);

/*This is the icon's flash when its actually showing the danger*/
}
#ui-map-info.js-map-hidden.js-ui-hud-show-icon-pulse {
  background: #f000;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
  
@keyframes pulse {
  0% {
    background-color: rgb(111, 6, 6);
  }

  50% {
    background-color: rgb(238, 6, 6);
  }

  100% {
    background-color: rgb(255, 0, 0);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(87, 0, 0, .8);
  }

  50% {
    background-color: rgba(210, 3, 3, .8);
  }

  100% {
    background-color: rgba(255, 0, 0, .8);
  }
}
/*============================================================================START==MEDICAL=ITEMS=EDIT=CHAOS===============================================================================================*/
/*Start Soda*/
#ui-loot-soda {
    display: inline-grid;
    grid-template-columns: auto 45px;
    align-items: center;
    gap: 13px;
    vertical-align: middle;
}

/*Actual Soda Image*/
#ui-loot-soda::after {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/sMXhpzq.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}


#ui-loot-soda.image-left::after {
    grid-column: 1;
}


#ui-loot-soda img.ui-loot-image {
    opacity: 0;
    width: 32px;
    height: 32px;
    display: block;
}


#ui-loot-soda {
    display: inline-grid;
    grid-template-columns: auto 45px;
    align-items: center;
    gap: 13px;
    vertical-align: middle;
}

/*Actual Soda Image*/
#ui-loot-soda::after {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/sMXhpzq.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}


#ui-loot-soda.image-left::after {
    grid-column: 1;
}


#ui-loot-soda img.ui-loot-image {
    opacity: 0;
    width: 32px;
    height: 32px;
    display: block;
}
/*End Soda*/
/*Start Painkiller*/
#ui-loot-painkiller {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}


#ui-loot-painkiller img.ui-loot-image {
    opacity: 0;
    width: 35px;
    height: 35px;
    display: block;
}

/*Actual Painkiller Image*/
#ui-loot-painkiller::after {
    content: "";
    width: 128px;
    height: 128px;
    background-image: url("https://i.imgur.com/yp00TxA.png");
    background-repeat: no-repeat;
    background-position: 65px;
    background-size: contain;
    margin-top: 1px;
}
/*End Painkill*/
/* Start Bandage */
#ui-loot-bandage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}


#ui-loot-bandage img.ui-loot-image {
    opacity: 0;
    width: 35px;
    height: 35px;
    display: block;
}

/*Actual Bandage Image*/
#ui-loot-bandage::after {
    content: "";
    width: 128px;
    height: 128px;
    background-image: url("https://i.imgur.com/CWfrGMt.jpeg");
    background-repeat: no-repeat;
    background-position: 70px;
    background-size: contain;
    margin-top: 1px;
}
/*End Bandage*/
/*Start Medkit*/
#ui-loot-healthkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}


#ui-loot-healthkit img.ui-loot-image {
    opacity: 0;
    width: 35px;
    height: 35px;
    display: block;
}

/*Actual Medkit Image*/
#ui-loot-healthkit::after {
    content: "";
    width: 128px;
    height: 128px;
    background-image: url("https://i.imgur.com/THdsXrq.png");
    background-repeat: no-repeat;
    background-position: 70px;
    background-size: contain;
    margin-top: 1px;
}
/*End Medkit*/
/*============================================================================END==MEDICAL=ITEMS=EDIT=CHAOS===============================================================================================*/

/*============================================================================START==MENU==EDITING======================================================================================================= */
.menu-option {
    border-radius: 0 !important;
    border-color: rgba(255, 255, 255, 0) !important;
}
/*Background of buttons*/
.menu-block {
    max-height: 290px;
}
.btn-green,
.btn-team-option,
.account-details-button-wrapper,
#btn-pass-locked,
#btn-customize {
    border-bottom: 0 !important;
    background: #9d57ff !important;
    color: #fff !important;
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0) !important;
}
#btn-customize {
    background-image: url(https://survev.io/img/emotes/surviv.svg) !important;
    background-position: 8px 5px !important;
    background-repeat: no-repeat !important;
    background-size: 28px !important;
    color: #9d57ff !important;
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.4);
}

.btn-start-option {
    vertical-align: bottom;
    margin-right: 8px;
    margin-bottom: 0;
    width: 48px;
    height: 42px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #9d57ff;
    box-shadow: inset 0 -4px rgba(0, 0, 0, 0.24);
}

.btn-account-turq {
    background-color: #9d57ff;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 -2px transparent;
    text-shadow: none;
}
/*Top left of in-game menu logout option*/
.btn-account-grey {
    background-color: #ea0000;
    border-bottom: 2px solid #ea0000;
    box-shadow: inset 0 -2px #f00;
    margin-top: 24px;
    text-shadow: none;
}

.btn-account-disabled {
    cursor: default;
    filter: brightness(60%) !important;
}

.account-details-user {
    cursor: pointer;
    display: flex;
}

#btn-help {
    border-bottom: 0 !important;
    font-size: 0px;
    height: 0px;
}

/*===========================================================================END==START==MENU==EDITING======================================================================================================*/

/*===========================================================================START==LOADOUT==EDITING========================================================================================================*/
#modal-customize-body {
    background-color: #9d57ff;
    color: #000;
    height: auto;
}
#modal-customize-header,
#modal-customize-footer {
    background-color: #5404c6;
    color: #fff;
}
#modal-customize-header {
    height: 122px;
}
#modal-customize-footer {
    height: 56px;
}
.modal-content-right {
    background: #b07ef7;
    border: 6px solid transparent;
    border-radius: 5px;
    bottom: 0;
    display: none;
    pointer-events: initial;
    position: fixed;
    right: 0;
    width: 330px;
}
/*===========================================================================END==LOADOUT==EDITING==========================================================================================================*/

/*===========================================================================START==KEYBIND==EDITING========================================================================================================*/
#ui-modal-keybind-body,
#ui-modal-keybind-header,
#ui-modal-keybind-footer {
    background-color: #794801;
}
#ui-modal-keybind-body {
    color: #000;
}
#ui-modal-keybind-footer {
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
/*===========================================================================END====LOADOUT==EDITING========================================================================================================*/

/*===========================================================================START==IN-GAME-MENU==EDITING==================================================================================================*/
.btn-game-menu {
    text-align: center;
    line-height: 38px;
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    margin: 5px auto;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 1px 2px #000;
    background-color: #9d57ff;
    border-bottom: 2px solid #9d57ff;
    box-shadow: inset 0 -2px #9d57ff;
    background-repeat: no-repeat;
    cursor: pointer;
}
/* Death Menu */
.ui-stats-header-title {
    font-weight: 700;
    font-size: 48px;
    margin: 10px;
    color: red;
}
#ui-stats-logo {
    background-image: url(https://i.imgur.com/I4uYvnX.png);
    background-repeat: no-repeat;
    background-size: 264px;
    background-position: center;
    height: 125px;
    position: absolute;
    left: 20px;
    top: 8px;
    width: 264px;
}
/* Spectate Menu */
#ui-spectate-options {
    position: relative;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    pointer-events: all;
    width: 100%;
}
#ui-spectate-options-wrapper {
    color: #fff;
    cursor: default;
    display: block;
    left: 12px;
    position: absolute;
    top: 12px;
}
@media (max-height: 768px),
(max-width: 1200px) {
    #ui-spectate-options-wrapper {
        transform: scale(.85);
        transform-origin: top left;
    }
}
#ui-spectate-buttons {
    display: inline-block;
    padding: 8px 8px 0;
    text-align: center;
    width: 192px;
}
#ui-spectate-options a {
    position: relative;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #9d57ff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#btn-spectate-prev-player {
    margin-bottom: 24px;
}
#ui-spectate-stats {
    vertical-align: top;
    display: none;
}
#ui-spectate-stats-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
}
#ui-spectate-stats-table {
    width: 100%;
    background-color: transparent;
    margin: auto 0 auto auto;
    border-collapse: collapse;
}
#ui-spectate-stats tbody,
#ui-spectate-stats td,
#ui-spectate-stats th {
    padding: 0 8px 8px 16px;
    font-size: 18px;
}
.ui-spectate-stats-category {
    width: 130px;
    color: rgba(255, 255, 255, 0.75);
}

.ui-spectate-stats-value {
    width: 75px;
    color: #fff;
}
/*===========================================================================END==IN-GAME=MENU==EDITING====================================================================================================*/

/*===========================================================================START==EVERYTING==TEAM==RELATED================================================================================================*/

/* Team Options */
@media (max-width: 850px),
(max-width: 900px) and (min-resolution: 3dppx) {
    .btn-team-option {
        border-bottom: none;
    }
}
/*Leave Team Button*/
#btn-team-leave {
    background: #9d57ff;
    border-bottom: 2px solid #9d57ff;
    bottom: -32px;
    box-shadow: inset 0 -2px #9d57ff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    right: 14px;
    top: 20px;
    transform: scale(1);
    transform-origin: top right;
    width: 140px;
}


#btn-team-mobile-link-leave{
  background: #9d57ff;
  border-bottom: 2px solid #8e575700;
  border-bottom-color: rgba(62, 62, 62, 0);
  bottom: 40px;
  box-shadow: inset 0 -2px #3e3e3e00;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 5px;
  text-shadow: 0 1px 2px rgba(0,0,0,.25);
  width: 190px;
}

#ui-top-left {
    position: absolute;
    color: #fff;
    font-size: 16px;
    top: 12px;
    left: 12px;
    display: block;
}

@media (max-height: 768px),
(max-width: 1200px) {
    #ui-top-left {
        transform-origin: top left;
        transform: scale(.85);
    }
}

#team-desc-text span#invite-link-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400
}
#team-desc-text span {
    color: #9d57ff;
    font-size: 18px;
    font-weight: 700
}

.team-menu-member > .icon-leader {
    background-image: url(https://png.pngtree.com/png-vector/20250419/ourmid/pngtree-purple-flower-vector-png-image_16051780.png);
}

.team-menu-member > .icon-kick {
    background-image: url(https://i.imgur.com/wu2LAeo.png);
    background-position: 49%;
    background-size: 65%;
    opacity: 1;
    cursor: pointer;
    /*Invite Link*/
    #team-code-text {
        display: block;
        font-size: 18px;
        margin: 2px auto 0;
        color: #a66f6f;
        font-weight: 700;
        width: 60%;
    }
}
.copy-item {
    display: inline-block;
    position: relative;
    top: 8px;
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    background-size: 32px;
    background-image: url(https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-lavender-clipart-the-lavender-flowers-are-a-bright-purple-illustration-cartoon-vector-png-image_6803654.png);
    cursor: pointer;
}

.copy-toast {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #9d57ff
}

.ui-bg-standard {
    background: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.ui-team-member {
    display: none;
    position: relative;
    width: 200px;
    height: 32px;
    padding: 4px;
    margin-bottom: 8px;
}

.ui-team-member-name {
    font-weight: 700;
    text-shadow: 1px 1px 0px #000;
    font-size: 16px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-team-member-color {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 7px;
    width: 14px;
    height: 14px;
}
/*In-game leaderboard colors of the teammates*/
.ui-background-yellow {
    background-color: #ff0;
}
.ui-background-blue {
    background-color: #00f;
}
.ui-background-red {
    background-color: red;
}
.ui-background-purple {
    background-color: #f0f;
}
.ui-background-cyan {
    background-color: #0ff;
}
.ui-background-orange {
    background-color: #ff5400;
}

.ui-team-member-status {
    display: none;
    position: absolute;
    top: 4px;
    right: -38px;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
}

.ui-team-member-status-downed {
    border-radius: 16px;
    display: block !important;
    background-image: url(https://i.imgur.com/FOwNj6q.png) !important;
}

.ui-team-member-status-dead {
    display: block !important;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/013/666/483/small_2x/tombstone-in-the-cemetery-during-halloween-png.png) !important;
    opacity: 0.5 !important;
}

.ui-team-member-status-disconnected {
    display: block !important;
    background-image: url(https://png.pngtree.com/png-vector/20220623/ourmid/pngtree-wifi-network-disconnected-internet-connection-png-image_5172136.png) !important;
    opacity: 0.5 !important;
}

.ui-team-member-health {
    margin-top: 4px;
}

.ui-team-member-health .ui-bar-inner {
    background-color: #00ff10;
    z-index: 1;
    position: absolute;
    border-radius: 4px;
    width: 200px;
    height: 10px;
    transition: width 0s ease-out;
}

.ui-team-member-health .ui-bar-danger {
    background: rgba(255, 0, 0, 0.8);
    animation: pulse 0.5s ease-out infinite alternate;
}

.ui-team-member-health .ui-health-depleted {
    z-index: 0;
    background: #929292;
    transition: width 1s ease-out;
}
/*===========================================================================END==EVERYTHING==TEAM==RELATED=================================================================================================*/

/*===========================================================================START==AMMO==EDITING==CHAOS====================================================================================================*/
/*Start of 12gauge*/

.ui-loot-overlay {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1024px-HD_transparent_picture.png") no-repeat center center !important;
    background-size: cover !important;
    transform: scale(1, 1);
}

#ui-loot-12gauge {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-45px);
    /*This keeps it nice and neat*/
}


#ui-loot-12gauge img.ui-loot-image {
    display: none !important;
}

/*Actual 12gauge Image*/
#ui-loot-12gauge::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/FSeF6Pz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*End 12gauge*/
/*Start 762mm*/
#ui-loot-762mm {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transform: translateY(-43px);
    /*This keeps in nice and neat*/
}


#ui-loot-762mm img.ui-loot-image {
    display: none !important;
}

/* 762mm Image*/
#ui-loot-762mm::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/YEjKFeX.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*End 762*/
/*Start 556mm*/
#ui-loot-556mm {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-42px);
    /*This keeps in nice and neat*/
}


#ui-loot-556mm img.ui-loot-image {
    display: none !important;
}

/* 762mm Image*/
#ui-loot-556mm::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/jRQjNgL.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*End 762*/
/*Start 9mm*/
#ui-loot-9mm {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-19px);
    /*This keeps in nice and neat*/
}


#ui-loot-9mm img.ui-loot-image {
    display: none !important;
}

/* 9mm Image*/
#ui-loot-9mm::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/htcfw90.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*End 9mm*/
/*Start 50AE*/
#ui-loot-50AE {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-20px);
    /*This keeps in nice and neat*/
}


#ui-loot-50AE img.ui-loot-image {
    display: none !important;
}

/* 50AE Image*/
#ui-loot-50AE::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/NWi1Sav.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*End 50AE*/
/*Start 45acp*/
#ui-loot-45acp {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-42px);
    /*This keeps in nice and neat*/
}


#ui-loot-45acp img.ui-loot-image {
    display: none !important;
}

/* 45acp Image*/
#ui-loot-45acp::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/gG6iLrw.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*End 45acp*/
/*Flare 45acp*/
#ui-loot-flare {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transform: translateY(-42px);
    /*This keeps in nice and neat*/
}


#ui-loot-flare img.ui-loot-image {
    display: none !important;
}

/*Flare Image*/
#ui-loot-flare::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://i.imgur.com/8PUySaO.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 2px;
}
/*==========================================================================END==AMMO==EDITING==CHAOS======================================================================================================*/
/*==================================================================START==DEATH==SCREEN==EDITING==CHAOS===================================================================================================*/

  .ui-stats-info-player {             
    position: relative;
    width: 255px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    border: 2px solid black;
    transform: translateX(-50%);
  }
.ui-stats-info-player-name {
    color: #9d57ff;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .ui-stats-info-status:after {
    background-image: url(https://i.imgur.com/6kC75JH.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    content: "";
    display: block;
    height: 395%;
    left: initial;
    opacity: 1;
    position: absolute;
    top: -135%;
    width: 100%;
    z-index: -1;
  }
/*==================================================================END==DEATH==SCREEN==EDITING==CHAOS====================================================================================================*/
/*==========================================================================START==ADREN==EDITING=========================================================================================================*/ 
   #ui-boost-counter .ui-boost-base {
    background: rgba(255, 255, 255, 0);
    height: 5px;
    margin-bottom: 5px;
  }

  #ui-boost-counter-0 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100px;
    margin-right: 3px;
  }

  #ui-boost-counter-0 .ui-bar-inner {
    background: #3c245e;
  }

  #ui-boost-counter-1 {
    width: 100px;
    margin-left: 3px;
    margin-right: 5px;
  }

  #ui-boost-counter-1 .ui-bar-inner {
    background: #976ad7;
  }

  #ui-boost-counter-2 {
    width: 150px;
    margin-left: 3px;
    margin-right: 3px;
  }

  #ui-boost-counter-2 .ui-bar-inner {
    background: #ccaff6;
  }

  #ui-boost-counter-3 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 50px;
    margin-left: 3px;
  }

  #ui-boost-counter-3 .ui-bar-inner {
    background: #e7d6ff;
  }

  .ui-boost-base .ui-bar-inner {
    border-radius: inherit;
    width: 20px;
    height: 10px;
  }
/*===================================================================================END==ADREN==EDITING===================================================================================================*/
/*START HEALTH EDITING*/


  #ui-health-actual.ui-bar-inner {
  background: rgba(227, 0, 255, .8);
  animation-name: pulsewhite;
  animation-duration: 100s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
  
  .health-bar-pulse {
  animation: pulsewhite 1s linear infinite;
}

@keyframes pulsewhite {
  0%, 50%, 100% {
    background-color: #b07ef7;
  }
}

@keyframes pulsewhite {
  0%, 50%, 100% {
    background-color: #b07ef7;
  }
}
/*End health editing*/
/*Alive Counter*/
#ui-leaderboard-wrapper {
  position: absolute;
  color: #976ad7;
  font-size: 16px;
  top: 12px;
  right: 12px;
  display: flex;
  font-weight: bold;
  text-align: center;
  width: 85px;
}

/*Killfeed background*/
#ui-killfeed-contents .killfeed-div {
  position: absolute;
  right: 100px;
  background-color: rgba(0, 0, 0, .2);
  padding: 4px 8px;
  border-radius: 2px;
  height: 22px;
  line-height: 24px;
}
/*
 #ui-killfeed-6 .killfeed-text { Just incase we just want 1 color, i'm leaving this here.
  color: #c9a7f9 !important;
}
*/


/*Stat Killfeeed Mess, There's 100% an easier way to do this, but i'm lazy.*/
#ui-killfeed-0 .killfeed-text {
  /* Smooth purple gradient for first word */
  background: linear-gradient(
    to right,
    #3f147b 0%,       /* start of killer name */
    #3f147b 20%,      /* end of killer name */
    #7041a8 50%,      /* transition to lighter purple */
    #9166cc 100%      /* rest of the text */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* optional */
}

#ui-killfeed-1 .killfeed-text {
 /* Smooth purple gradient for first word */
  background: linear-gradient(
    to right,
    #3f147b 0%,       /* start of killer name */
    #3f147b 20%,      /* end of killer name */
    #7041a8 50%,      /* transition to lighter purple */
    #9166cc 100%      /* rest of the text */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* optional */
}
#ui-killfeed-2 .killfeed-text {
 /* Smooth purple gradient for first word */
  background: linear-gradient(
    to right,
    #3f147b 0%,       /* start of killer name */
    #3f147b 20%,      /* end of killer name */
    #7041a8 50%,      /* transition to lighter purple */
    #9166cc 100%      /* rest of the text */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* optional */
}
#ui-killfeed-3 .killfeed-text {
 /* Smooth purple gradient for first word */
  background: linear-gradient(
    to right,
    #3f147b 0%,       /* start of killer name */
    #3f147b 20%,      /* end of killer name */
    #7041a8 50%,      /* transition to lighter purple */
    #9166cc 100%      /* rest of the text */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* optional */
}
#ui-killfeed-4 .killfeed-text {
 /* Smooth purple gradient for first word */
  background: linear-gradient(
    to right,
    #3f147b 0%,       /* start of killer name */
    #3f147b 20%,      /* end of killer name */
    #7041a8 50%,      /* transition to lighter purple */
    #9166cc 100%      /* rest of the text */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* optional */
}
#ui-killfeed-5 .killfeed-text {
/* Smooth purple gradient for first word */
  background: linear-gradient(
    to right,
    #3f147b 0%,       /* start of killer name */
    #3f147b 20%,      /* end of killer name */
    #7041a8 50%,      /* transition to lighter purple */
    #9166cc 100%      /* rest of the text */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* optional */
}


}
